:root {
    --font: ;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

body {
    font-size: 1.6rem;
    margin: 0;
    padding: 0;
    min-width: 36rem;

    background-color: cornflowerblue;
}